<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ballerine.kmp.example.android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Query Camera Packages -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
          android:name=".BallerineKYCFlow"
          android:exported="false">
        </activity>

        <activity
          android:name=".camera.CameraRequestActivity"
          android:screenOrientation="unspecified"
          android:theme="@style/Theme.Transparent.ImagePicker" />

        <provider
          android:name=".camera.CameraFileProvider"
          android:authorities="${applicationId}.imagepicker.provider"
          android:exported="false"
          android:grantUriPermissions="true">

            <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/image_picker_provider_paths" />

        </provider>
    </application>
</manifest> 